<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Average Calculator </title>
    </head>
    <body>
        <form>
        <select id="numberList">
        </select>
        <input type="button" id="generateButton" value="Generate"></input>
        <br>
        <input type="number" id="numberInput"></input>
        <input type="button" id="addButton" value="Add"></input>
        <br>
        <br>
        <input type="button" id="clearButton" value="Clear"></input>
        </form>
        <p id="output">
			Sum = ?<br>
			Average = ?<br>
            Min = ?<br>
            Max = ?
		</p>
        <script>
            //start coding here
        </script>
    </body>
</html>