<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Template </title>
    </head>
    <body>
        <form>
        <input type="text" id="text1"></input>
        <input type="button" id="addButton" value="Add"></input>
        <input type="button" id="displayButton" value="Display"></input>
        <br>
        <br>
        <input type="text" id="text2"></input>
        <input type="button" id="searchButton" value="Search"></input>
        <input type="button" id="removeButton" value="Remove"></input>
        </form>
        <p id="SearchResults"></p><br>
        <p>Shopping List : <br>
        <span id = "Result"></span>
        </p>
        <script>
        
        //Code here...
        </script>
    </body>
</html>