<!DOCTYPE html>
<html lang=en>
    <head>
        <title>
            11.5.3 Exercise
        </title>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <h1>Login page</h1>
        <div>
            <label for="username">Username:</label> <br>
            <input type="text" id="username" name="username" value="admin">
        </div>
        
        <div>
            <label for="pass">Password (4 characters):</label> <br>
            <input type="password" id="pwd" name="password"
                   minlength="4" required>
        </div>
        <br>
        <input id="signButton" type="button" value="Sign in">
        <input id="showButton" type="button" value="Show">
        <input id="registerButton" type="button" value="Register">
        <p id="message"></p>
        <script>
        "use strict";
        //Code here...
        </script>
    </body>
</html>