<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Arrays and selection lists </title>
    </head>
    <body>
        <h2>PC component selector</h2>
        <select id="ComponentsList">
            <option value="">Choose a PC component</option>
        </select>
        <input type="button" value="Select" id="selectButton">
        <br>
        <image id="componentImage" src="ComponentsImages/PC.png" width="200" height="150"></image>
        <script>
            //Code here...
        </script>
    </body>
</html>