<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Exercise 9.3.5 Phone Call</title>
		<meta charset=UTF-8>
		<link rel="stylesheet" href="grid.css">
	</head>
	<body>
		
		  <div class="row"> 
			<div class="column">
			  <img src=Phone_Call_Images/Phone_Number_1.png id="im1" width=200 height=220>
			  <img src=Phone_Call_Images/Phone_Number_2.png id="im2" width=200 height=220>
			  <img src=Phone_Call_Images/Phone_Number_3.png id="im3" width=200 height=220>
			</div>
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_4.png id="im4" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_5.png id="im5" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_6.png id="im6" width=200 height=220>
			</div> 
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_7.png id="im7" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_8.png id="im8" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Number_9.png id="im9" width=200 height=220>
			</div>
			<div class="column">
				<img src=Phone_Call_Images/Phone_Number_0.png id="im0" width=200 height=220>
				<img src=Phone_Call_Images/Phone_Pick_Up.png id="im10" width=200 height=200>
			</div>
		  </div>
		<div>
		<h1 id="callNumber"> Calling: </h1>
		</div>
		<script>
			'use strict';
			let numberToCall="";
			let booleanCall=true;
			//When passing parameter values, use an "anonymous function" that calls the specified function with the parameters:‚
			//element.addEventListener("click", function(){ myFunction(p1, p2); });
		</script>
	</body>
</html>